<div class="playlist">
  <div class="row">
    <div class="col">#</div>
    <div class="col">Title</div>
    <div class="col">Artist</div>
    <div class="col">Album</div>
    <div class="col">Duration</div>
  </div>

  @for (song of playlist().songs; let idx = $index; track idx) {
    <div class="row" [ngClass]="{ selected: playlist().selected === idx }">
      <div class="col" (click)="selectRow(idx)">
        {{ song.meta.track }}
      </div>

      <div class="col" (click)="selectRow(idx)">
        {{ song.meta.title }}
      </div>

      <div class="col" (click)="selectRow(idx)">
        {{ song.meta.artist }}
      </div>

      <div class="col" (click)="selectRow(idx)">
        {{ song.meta.album }}
      </div>

      <div class="col" (click)="selectRow(idx)">
        {{ song.meta.duration | duration }}
      </div>
    </div>
  }
</div>
