.playlist {
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;

    &.selected {
      background-color: grey;
    }

    .col {
      flex: 1;
    }
  }
}
