@import "../../styles/variables";

:host {
  display: flex;
  gap: 0.4em;
  background-color: #222;
  height: 5em;
  justify-content: center;
}

.btn-action {
  width: 2em;
  height: 2em;
  background-color: #444;
  border: none;
}

.icon {
  display: flex;
  fill: white;
  stroke: white;
  padding: 0.1em;
}
