<app-menu class="menu" (loadFiles)="onLoadFiles($event)"></app-menu>
<app-progress [val]="tmr()"></app-progress>
<app-player
  [isPlaying]="isPlaying()"
  (clickPlay)="onClickPlay()"
  (clickPause)="onClickPause()"
  (clickNext)="onClickNext()"
  (clickPrevious)="onClickPrevious()"
></app-player>
<app-playlist
  class="flex-1"
  [playlist]="playlist()"
  (selectedChange)="onChangeSelectedSong($event)"
></app-playlist>
