@font-face {
  font-family: 'Outfit';
  src: url('assets/Outfit-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background-color: black;
  color: white;
}
