@import "../../styles/variables";

:host {
  height: 3em;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0.6em;
}

.btn-load {
  width: $button_width;
  height: $button_height;
  fill: white;
  stroke: white;
  width: 1.3em;
  cursor: grab;
}

.file-input {
  display: none;
}
